body {
	padding: 0px;
	background: fixed;
	background-image: url(imagens/bgteste2.png);
}

.position-avatar {
	position: absolute;
	top: 30px;
	left: 2%;
	max-width: 10%;
	height: 17%;
	background-color: lightgray;
	border-radius: 20px;
	padding: 5px;
	text-align: center; 
	font-weight: bold;
}

.position-login-entrar {
	position: absolute;
	top: 30px;
	right: 2%;
	width: 5%;
	height: 10%;
	background-color: lightgray;
	border-radius: 20px;
	padding-top: 13px;
	text-align: center;
}

.bannerTopo {
	width: 100%;
}

.imagemJogadorMestre {
	margin: 8% 16% 16% 16%;
	width: 350px;
	border-radius: 250px;
}

		/*Formulário*/

.vl{
	border-left: 6px solid green;
 	height: 100%;
}
label{
	color: 	#DCDCDC; 
}
.titulo{
	font-size: 3em;
}

hr {
	background-color: white;
}

.div_DA {
	color: white;
}

.texto_centro {
	text-align: center;
}

.tmestre_jogador {
	text-align: center; 
	margin-top:8%; 
	font-family: 'Permanent Marker', cursive; font-size: 2em; 
	color: white;
}

.tmestre_jogador:hover {
	transform: scale(1.1,1.1);
	color: silver;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
}

.imestre_jogador:hover {
	transform: scale(1.03,1.03);
	color: red;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
}

.nome {
	 color: white;
}

.iperfil {
	width: 128px;
}

.iperfil:hover {
	transform: scale(1.03,1.03);
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
}

<<<<<<< HEAD
			/*Quem Somos*/
	
.quemSomos{
	width: 50%;

}

.card-img-top{
	height: 350px;
=======
.heightCarousel {
	height: 500px;
}

.jumbotron-margin {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.fonte-texto {
	font-family: 'Satisfy', cursive; 
	font-size: 1.5em;
}

.fonte-titulo {
	font-family: 'Yeon Sung', cursive;
}

.fonte-subtitulo {
	font-family: 'Permanent Marker', cursive;
}

.imagemdice {
	width: 560px;
	height: 300px;
	border-radius: 35px; 

>>>>>>> 4ac799186e3a59114c6a8e75e61f9fea26c74126
}